__pycache__
outputs/
data/
assets/franka_description/
assets/object/
assets/urdf/

envs/assets/franka_description/
envs/assets/scene_description/
envs/assets/movable_hand_urdf/
visual/
visual_ablation/

*.swp
*.png
*.so
.vscode/
*.bbl
*.blg
*.log
*.out
*.aux
*.toc
*.brf
*.nav
*.snm
*.bz2
*pyc
*.swp
*.pkl
wandb/
models/loss/cuda_op
*.npz
.json
*.mtl
*.obj
#*.yaml
